html {
    background-color: rgb(77, 89, 81);
}

.App {
  text-align: center;
  color: white;
}

a {
    color: silver;
    transition: 0.25s;
}

a:hover {
    color: white;
}

h1 {
    font-size: 4em;
    font-weight: 100;
}

h2 {
    font-size: 3em;
    font-weight: 100;
}

p {
    font-size: 1em;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: auto;
    margin-right: 1em;
    max-width: 80%;
}

li a {
    opacity: 0.75;
    color: silver;
    background-color: grey;
    text-decoration: none;
    font-size: 1.4em;
    transition: 0.25s;
    padding: 5px 10px;
}

li a:hover {
    opacity: 1;
    color: white;
    background-color: darkgrey;
}

h2 {
  text-transform: uppercase;
}

main {
  margin: auto;
  max-width: 80%;
}
